<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Free Code Camp Image Search Abstraction Layer</title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="content">
                <h1 class="headline">Free Code Camp API Challenge: Image Search</h1>
                <p>
                    Objective: Build a full stack JavaScript app that allows you to search for images, and then deploy it to Heroku.
                    Note that for each project, you should create a new GitHub repository and a new Heroku project.
                    Here are the specific user stories you should implement for this project:
                </p>
                <ul>
                    <li>User Story: I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
                    
                    <li>User Story: I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
                    
                    <li>User Story: I can get a list of the most recently submitted search strings.</li>
                </ul>
                <p>
                    <strong>Note on First User Story:</strong> Our app can only work with the data returned by the imgur.com API. The imgur API does not return the
                    specific data asked for in the original FCC objectives. We have chosen 
                    instead to return the image urls, titles, and descriptions. 
                </p>
                <p>
                    <strong>A Note on Second User Story:</strong> The imgur API does not appear to have an offset function or at least not one that is
                    easily available. We rigged a kind of funky offset with a base unit value of 10. Thus, an offset of 1 will
                    remove the first 10 items from search, an offset of 2 removes the first 20 items from search and so on. If
                    the offset value is greater than the total number of items in the search, effectively remmoving all items from search,
                    the app returns you to the index page.
                </p>
                <p>
                    <strong>Note on Third User Story:</strong> A query for the latest searches was to return the page urls of images, but this
                    information is not provided in the imgur search API, or at least not evident to the app creator. Instead, our app 
                    returns the search term and time of creation.
                </p>
                
                <p><strong>Sample Search Strings:</strong></p>
                <ul>
                    <li>
                        <code>https://fcc-imagesearch-api.herokuapp.com/imageSearchApi/wild puppies</code> &nbsp;&nbsp;&nbsp;  <span class="comment">// Returns first 10 search items for searh term.</span>
                    </li>
                    <li>
                        <code>https://fcc-imagesearch-api.herokuapp.com/imageSearchApi/wild puppies?offset=2</code> &nbsp;&nbsp;&nbsp; <span class="comment">// Returns first 10 items after removal of first 20, in this example.</span>
                    </li>
                    <li>
                        <code>https://fcc-imagesearch-api.herokuapp.com/imageSearchApi/latest</code> &nbsp;&nbsp;&nbsp; <span class="comment">// Returns last 10 most recent searches.</span>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>